{% extends 'base.html.twig' %}
{% use "panel/menu.html.twig" %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{ block("menu") }}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card mt-4">
            {# <div class="card-header align-items-center px-3 px-md-5">
            
            </div> #}
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title text-uppercase mb-0"> UŻYTKOWNICY</h5>
                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-contact" href="{{url("app_register")}}">
                    <i class="fa fa-user-plus"></i> Dodaj
                </a>

            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0 m-2">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Login</th>
                      <th scope="col">Imię</th>
                      <th scope="col">Status</th>
                      <th scope="col">Email</th>
                      <th scope="col">Utworzony</th>
                      <th scope="col">Zarządzaj</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="ps-3">{{user.id}}</td>
                            <td><strong>{{user.username}}</strong></td>
                            <td><span class="text-muted">{{user.name}} {{user.surname}}</span></td>
                            <td>
                                <span class="text-muted">
                                    {% if "ROLE_ADMIN" in user.Roles %}
                                        ADMIN
                                    {% else %}
                                        PRACOWNIK
                                    {% endif %}
                                </span>
                            </td>
                            <td><span class="text-muted">{{user.Email}}</span></td>
                            <td><span class="text-muted">{{user.dateAdded|date('Y-m-d')}}</span></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle disabled"><i class="fa fa-key"></i> </button>
                                <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2 disabled"><i class="fa fa-trash"></i> </button>
                                <a type="button" class="btn btn-primary btn-lg btn-circle ml-2" href="{{ path('app_users_edit', {'id': user.id}) }}"><i class="fa fa-edit"></i> </a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
